@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Enums
@using AnkiBooks.ApplicationCore.Interfaces

@using AnkiBooks.WebApp.Client.Pages.Articles.ArticleDeck.NewDeckElement
@using AnkiBooks.WebApp.Client.Pages.Articles.NewArticleElement

@if (dropDownItemSelected == null)
{
    <div>
        <InputSelect @bind-Value="dropDownItemSelected" name="new-card">
            <option value="" selected>New card</option>
            <option value="@CardType.BasicNote">Basic</option>
            <option value="@CardType.ClozeNote">Cloze</option>
        </InputSelect>
    </div>
}
else
{
    @switch (dropDownItemSelected)
    {
        case CardType.BasicNote:
            <NewBasicNote DeckId="@DeckId"
                                    @bind-DropDownItemSelected="dropDownItemSelected"
                                    @bind-Cards:get="@Cards"
                                    @bind-Cards:set="@CardsChanged" />
            break;
    
        case CardType.ClozeNote:
            <NewClozeNote DeckId="@DeckId"
                                    @bind-DropDownItemSelected="dropDownItemSelected"
                                    @bind-Cards:get="@Cards"
                                    @bind-Cards:set="@CardsChanged" />
            break;

        default:
            break;

    }
}

@code {
    [Parameter]
    public string DeckId { get; set; } = null!;

    private CardType? dropDownItemSelected = null;

    [Parameter]
    public List<Card> Cards { get; set; } = null!;

    [Parameter]
    public EventCallback<List<Card>> CardsChanged { get; set; }
}