@using AnkiBooks.ApplicationCore.Entities

@using AnkiBooks.WebApp.Client.Pages.Articles.EditArticleElement
@using AnkiBooks.WebApp.Client.Pages.Articles.DeckElement.BasicNoteElement
@using AnkiBooks.WebApp.Client.Pages.Articles.DeckElement.ClozeNoteElement

@if (Editing == true)
{
    <EditDeck StartingDeck="@Element" @bind-Editing="@Editing" />
}
else
{
    <p>
        @Element.Description    
    </p>

    <div class="w-5 h-5" role="button"
        @onclick="BeginEditing">
        <Edit />
    </div>

    @foreach (Card card in Element.Cards())
    {
        switch(card)
        {
            case BasicNote bn:
                <BasicNoteElement BasicNote="@bn" />
                break;

            case ClozeNote cn:
                <ClozeNoteElement ClozeNote="@cn" />
                break;
        }
    }

    <NewCard DeckId="@Element.Id" />
}

@code {
    [Parameter]
    public Deck Element { get; set; } = null!;

    [Parameter]
    public OrderedElementsContainer<ArticleElement> ElementsContainer { get; set; } = null!;

    [Parameter]
    public EventCallback<OrderedElementsContainer<ArticleElement>> ElementsContainerChanged { get; set; }

    public bool Editing { get; set; } = false;

    private void BeginEditing()
    {
        Editing = true;
    }
}