@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Enums
@using AnkiBooks.ApplicationCore.Interfaces

@using AnkiBooks.WebApp.Client.Shared.Cards.Basic
@using AnkiBooks.WebApp.Client.Shared.Cards.Cloze

@if (dropDownItemSelected == null)
{
    <InputSelect @bind-Value="dropDownItemSelected" name="new-card">
        <option value="" selected>New card</option>
        <option value="@CardTypeEnum.BasicNote">Basic</option>
        <option value="@CardTypeEnum.ClozeNote">Cloze</option>
    </InputSelect>
}
else
{
    @switch (dropDownItemSelected)
    {
        case CardTypeEnum.BasicNote:
            <NewBasicNote DeckId="@DeckId"
                                    @bind-DropDownItemSelected="dropDownItemSelected"
                                    @bind-Cards:get="@Cards"
                                    @bind-Cards:set="@CardsChanged" />
            break;

        case CardTypeEnum.ClozeNote:
            <NewClozeNote DeckId="@DeckId"
                                    @bind-DropDownItemSelected="dropDownItemSelected"
                                    @bind-Cards:get="@Cards"
                                    @bind-Cards:set="@CardsChanged" />
            break;

        default:
            break;
    }
}

@code {
    [Parameter]
    public string DeckId { get; set; } = null!;

    private CardTypeEnum? dropDownItemSelected = null;

    [Parameter]
    public List<Card> Cards { get; set; } = null!;

    [Parameter]
    public EventCallback<List<Card>> CardsChanged { get; set; }
}