@using AnkiBooks.ApplicationCore.Entities

@if (editing == false)
{
<div class="d-flex flex-row justify-content-between md:justify-content-start align-items-center" title="@(Link.Name)" >
    <a href="@Link.Url" class="mr-2">
        @(Link.Name ?? Link.Url)
    </a>
    <div class="d-flex flex-row justify-content-start">
        <div role="button" class="w-5 h-5 mr-2" title="Edit source" @onclick="StartEditing">
            <Edit />
        </div>
        <div role="button" class="w-5 h-5" title="Options (TODO)">
            <Gear />
        </div>
    </div>
</div>
}
else
{
    <EditLink @bind-Link:get="@Link" @bind-Link:set="@LinkChanged" @bind-Editing="@editing" />
}

@code {
    [Parameter]
    public required Link Link { get; set; }

    [Parameter]
    public EventCallback<Link> LinkChanged { get; set; }

    private bool editing = false;

    private void StartEditing()
    {
        editing = true;
    }
}