@inherits AddElementBase
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Enums
@using AnkiBooks.ApplicationCore.Interfaces

@if (hideSplitButtonAndShowForm == false)
{
    <div class="d-flex justify-content-center">
        <RadzenSplitButton  Click=@(args => OnButtonClick(args))
                            Text="Add"
                            Variant="Variant.Outlined"
                            Size="ButtonSize.Small">
            <ChildContent>
                <RadzenSplitButtonItem Text="Basic note" Value="@(ElementType.BasicNote.ToString())" />
                <RadzenSplitButtonItem Text="Cloze note" Value="@(ElementType.ClozeNote.ToString())" />
                <RadzenSplitButtonItem Text="Picture note" Value="3" />
                <RadzenSplitButtonItem Text="Table note" Value="4" />
            </ChildContent>
        </RadzenSplitButton>
    </div>
}
else
{
    @switch (dropDownItemSelected)
    {
        case ElementType.BasicNote:
            <NewBasicNote   @bind-OrderedElementsContainer:get="OrderedElementsContainer"
                            @bind-OrderedElementsContainer:set="OrderedElementsContainerChanged"
                            @bind-HideSplitButtonAndShowForm="hideSplitButtonAndShowForm"
                            ArticleId="@ArticleId"
                            PairedElement="@PairedElement" />
            break;
        case ElementType.ClozeNote:
            <NewClozeNote   @bind-OrderedElementsContainer:get="OrderedElementsContainer"
                            @bind-OrderedElementsContainer:set="OrderedElementsContainerChanged"
                            @bind-HideSplitButtonAndShowForm="hideSplitButtonAndShowForm"
                            ArticleId="@ArticleId"
                            PairedElement="@PairedElement" />
            break;
        default:
            break;

    }
}

@code {
    private bool hideSplitButtonAndShowForm = false;

    private ElementType? dropDownItemSelected = null;

    private void OnButtonClick(RadzenSplitButtonItem item)
    {
        void ReplaceDropdown()
        {
            hideSplitButtonAndShowForm = true;
        }

        dropDownItemSelected = (ElementType)Enum.Parse(typeof(ElementType), item.Value);
        ReplaceDropdown();
    }
}