@page "/articles/{id}"
@implements IDisposable

@using System.Text.Json
@using System.Security.Claims

@using AnkiBooks.ApplicationCore
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.ApplicationCore.Interfaces.Services
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.Contents
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.Notes

@inject IConfiguration Config
@inject IUserArticleService UserArticleService
@inject ILogger<ArticleRoot> Logger
@inject PersistentComponentState ApplicationState
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingValue Value="@ReadMode" Name="ReadMode">
<div class="w-100 p-4 d-flex justify-content-end align-items-center">
    @if (ReadMode == false)
    {
        <span role="button" @onclick="StartReadMode">Read mode</span>
    }
    else
    {
        <span role="button" @onclick="EndReadMode">Edit mode</span>
    }
</div>

@if (article == null || ElementsContainer == null)
{
    <PageTitle>Loading article...</PageTitle>

    <p>Loading article...</p>
}
else
{
    <PageTitle>@article.Title</PageTitle>

    List<ArticleElement> elements = ElementsContainer.OrderedElements;

    <CascadingValue Value="@article.Id" Name="ArticleId">
    
        <article class="px-4">
            <div>
                @if (elements.Count == 0)
                {
                    @if (ReadMode == false)
                    {
                        <NewElement @bind-ElementsContainer="@ElementsContainer" OrdinalPosition="@(0)" />
                    }
                }
                else
                {
                    List<(List<IContent>, List<INote>)> groups = ArticleElementsGrouper.Groups(ElementsContainer.OrderedElements);

                    for (int j = 0; j < groups.Count; j++)
                    {
                        (List<IContent>, List<INote>) group = groups[j];
                        (List<IContent> contents, List<INote> notes) = group;

                        <div class="d-flex flex-column sm:flex-row @(j != 0 ? "border-top-primary pt-4" : "")">

                            <div class="sm:flex-grow-2 pr-4">
                                @foreach(IContent content in contents)
                                {
                                    <ContentElement Content="@content" @bind-ElementsContainer="@ElementsContainer" />

                                    @if (ReadMode == false)
                                    {
                                        <NewElement @bind-ElementsContainer="@ElementsContainer"
                                                    OrdinalPosition="@(content.OrdinalPosition + 1)" />
                                    }
                                }
                            </div>

                            @if (notes.Count != 0)
                            {
                                <div class="sm:flex-grow-1">
                                    @foreach(INote note in notes)
                                    {
                                        <NoteElement Note="@note" @bind-ElementsContainer="@ElementsContainer" />

                                        @if (ReadMode == false)
                                        {
                                            <NewElement @bind-ElementsContainer="@ElementsContainer"
                                                        OrdinalPosition="@(note.OrdinalPosition + 1)" />
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </article>
    </CascadingValue>
}
</CascadingValue>

@code {
    [Parameter]
    public string? Id { get; set; }

    public bool ReadMode { get; set; } = false;

    private void StartReadMode() => ReadMode = true;

    private void EndReadMode() => ReadMode = false;

    private OrderedElementsContainer<ArticleElement>? ElementsContainer;

    private Article? article;

    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnParametersSetAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<Article>(nameof(article), out var restored))
        {
            article = await UserArticleService.GetUserArticle(Id);
        }
        else
        {
            article = restored;
        }

        ArgumentNullException.ThrowIfNull(article);
        ElementsContainer = new(article.OrderedElements());
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(article), article);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }
}