@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.BasicNoteComponents
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.ClozeNoteComponents
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.MarkdownContentComponents

<div class="my-2">
    @if (ArticleElement is BasicNote)
    {
        BasicNote bn = (BasicNote)ArticleElement;

        <EditBasicNote  @bind-Editing:get="@Editing"
                        @bind-Editing:set="@EditingChanged"
                        StartingBasicNote="@bn" />
    }
    else if (ArticleElement is ClozeNote)
    {
        ClozeNote cn = (ClozeNote)ArticleElement;

        <EditClozeNote  @bind-Editing:get="@Editing"
                        @bind-Editing:set="@EditingChanged"
                        StartingClozeNote="@cn" />
    }
    else if (ArticleElement is MarkdownContent)
    {
        MarkdownContent mc = (MarkdownContent)ArticleElement;

        <EditMarkdownContent    @bind-Editing:get="@Editing"
                                @bind-Editing:set="@EditingChanged"
                                StartingMarkdownContent="@mc" />
    }
</div>

@code {
    [Parameter]
    public ArticleElementBase ArticleElement { get; set; } = null!;

    [Parameter]
    public bool Editing { get; set; }

    [Parameter]
    public EventCallback<bool> EditingChanged { get; set; }
}