@using AnkiBooks.ApplicationCore.Entities
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.WebApp.Client.Services
@inherits ChangesOrderedElementsContainerBase
@inject IAnkiBooksApiService ApiService
@inject ILogger<Element> logger
@inject DragStateService dragState

@if (editing == false)
{
    <div class="d-flex flex-column">

        <div class="d-flex justify-content-around">
            <span role="button" @onclick="BeginEditing">
                EDIT
            </span>

            <span role="button" @onclick="DeleteElement">
                DELETE
            </span>
        </div>

        <div class="min-w-0 flex-1 word-break-all
                        @(nestedDragLevels != 0 ? "highlight-dropzone" : "")"
                        
                        draggable="true"
                        @ondragstart="HandleDrag"
                        @ondragend="HandleDragEnd"
                        @ondragenter="HandleDragEnter" @ondragenter:preventDefault
                        ondragover="event.preventDefault();"
                        @ondragleave="HandleDragLeave" @ondragleave:preventDefault
                        @ondrop="HandleDrop">
            <ShowElement ArticleElement="@ArticleElement" />
        </div>
    </div>
}
else
{
    <EditElement ArticleElement="@ArticleElement" @bind-Editing="@editing" />
}

<NewElement @bind-OrderedElementsContainer:get="OrderedElementsContainer"
            @bind-OrderedElementsContainer:set="OrderedElementsContainerChanged" PairedElement="@ArticleElement" />

@code {
    [Parameter]
    public IArticleElement ArticleElement { get; set; } = null!;

    private bool editing = false;

    private void BeginEditing()
    {
        editing = true;
    }

    private async Task DeleteElement()
    {
        // TODO: Pull this down into the ApiService
        if (ArticleElement is BasicNote)
        {
            await ApiService.DeleteBasicNote(ArticleElement.Id);
        }
        else if (ArticleElement is ClozeNote)
        {
            await ApiService.DeleteClozeNote(ArticleElement.Id);
        }
        else if (ArticleElement is MarkdownContent)
        {
            await ApiService.DeleteMarkdownContent(ArticleElement.Id);
        }

        OrderedElementsContainer.Remove(ArticleElement);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);
    }

    private void HandleDrag()
    {
        logger.LogInformation("drag");
        dragState.DraggedElement = ArticleElement;
    }

    private void HandleDragEnd()
    {
        logger.LogInformation("dragend");
        dragState.DraggedElement = null;
    }

    private int nestedDragLevels = 0;

    private void HandleDragEnter()
    {
        IArticleElement? draggedElement = dragState.DraggedElement;

        if (draggedElement == null) return;
        if (draggedElement == ArticleElement) return;
        logger.LogInformation("dragenter");
        nestedDragLevels += 1;
    }

    private void HandleDragLeave()
    {
        IArticleElement? draggedElement = dragState.DraggedElement;

        if (draggedElement == null) return;
        if (draggedElement == ArticleElement) return;
        logger.LogInformation("dragleave");

        nestedDragLevels -= 1;
    }

    private async Task HandleDrop()
    {
        nestedDragLevels = 0;
        logger.LogInformation("drop");
        IArticleElement? droppedElement = dragState.DraggedElement;

        if (droppedElement == null) return;
        if (droppedElement == ArticleElement) return;

        int ordinalPositionBefore = droppedElement.OrdinalPosition;
        droppedElement.OrdinalPosition = ArticleElement.OrdinalPosition;

        // TODO: Pull this down into the ApiService
        if (droppedElement is BasicNote)
        {
            BasicNote bn = (BasicNote)droppedElement;

            await ApiService.PutBasicNote(bn);
        }
        else if (droppedElement is ClozeNote)
        {
            ClozeNote cn = (ClozeNote)droppedElement;

            await ApiService.PutClozeNote(cn);
        }
        else if (droppedElement is MarkdownContent)
        {
            MarkdownContent content = (MarkdownContent)droppedElement;

            await ApiService.PutMarkdownContent(content);
        }

        OrderedElementsContainer.UpdatePosition(droppedElement);
        await OrderedElementsContainerChanged.InvokeAsync(OrderedElementsContainer);
    }
}
