@page "/articles/{id}"
@using System.Text.Json
@using AnkiBooks.ApplicationCore
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.BasicNoteComponents
@using AnkiBooks.WebApp.Client.Pages.Articles.Show.ClozeNoteComponents
@layout ArticlesLayout
@inject IConfiguration Config
@inject IAnkiBooksApiService ApiService
@inject ILogger<Show> Logger
@inject PersistentComponentState ApplicationState
@implements IDisposable

@rendermode InteractiveWebAssembly

@if (article == null || ElementsContainer == null)
{
    <PageTitle>Loading article...</PageTitle>

    <p>Loading article...</p>
}
else
{
    List<IArticleElement> elements = ElementsContainer.OrderedElements;

    <PageTitle>@article.Title</PageTitle>

    <article>
        <CascadingValue Value="@article.Id" Name="ArticleId">
            @if (elements.Count > 0)
            {
                @for (int i = 0; i < elements.Count; i++)
                {
                    IArticleElement element = elements[i];

                    @if (element is IArticleContent)
                    {
                        <div class="d-flex flex-row">
                            <div>
                                <Element @bind-OrderedElementsContainer="@ElementsContainer" ArticleElement="@element"/>
                            </div>
                            <div>
                                @for (int j = i + 1; j < elements.Count; j++)
                                {
                                    IArticleElement jElement = elements[j];

                                    @if (jElement is IArticleNote)
                                    {
                                        <Element @bind-OrderedElementsContainer="@ElementsContainer" ArticleElement="@jElement"/>
                                    }
                                    else
                                    {
                                        i = j;
                                        break;
                                    }
                                }
                            </div>
                        </div>
                    }
                    else if (element is IArticleNote)
                    {
                        <Element @bind-OrderedElementsContainer="@ElementsContainer" ArticleElement="@element" />
                    }
                }
            }
            else
            {
                <NewElement @bind-OrderedElementsContainer="@ElementsContainer" PairedElement="@null" />
            }
        </CascadingValue>
    </article>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private OrderedElementsContainer? ElementsContainer;

    private Article? article;

    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnParametersSetAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<Article>(nameof(article), out var restored))
        {
            article = await ApiService.GetArticle(Id);
        }
        else
        {
            article = restored;
        }

        ArgumentNullException.ThrowIfNull(article);
        ElementsContainer = new(article.OrderedElements());
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(article), article);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }
}