@page "/articles/{id}"
@layout ArticlesSidebar
@using System.Text.Json
@using AnkiBooks.Models
@using AnkiBooks.Models.Services
@using AnkiBooks.Models.Interfaces
@inject IConfiguration Config
@inject HttpClient Http
@inject ILogger<Show> Logger
@implements IDisposable
@inject PersistentComponentState ApplicationState

@rendermode InteractiveWebAssembly

@if (article == null)
{
    <PageTitle>Loading article...</PageTitle>

    <p>Loading article...</p>
}
else
{
    <PageTitle>@article.Title</PageTitle>

    @foreach(IArticleElement articleElement in articleElements)
    {
        <AddArticleElementSplitButton @bind-Article="article" OrdinalPosition="@(articleElement.OrdinalPosition)" />

        if (articleElement is BasicNote)
        {
            BasicNote bn = (BasicNote)articleElement;

            <ShowBasicNote BasicNote="@bn" />
        }
        else if (articleElement is ClozeNote)
        {
            ClozeNote cn = (ClozeNote)articleElement;

            <ShowClozeNote ClozeNote="@cn" />
        }
    }

    <AddArticleElementSplitButton @bind-Article="article" OrdinalPosition="@articleElements.Count" />
}

@code {
    [Parameter]
    public string? Id { get; set; }

    string? serviceEndpoint;
    private Article? article;
    private IList<IArticleElement> articleElements = [];
    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnParametersSetAsync()
    {
        ArgumentNullException.ThrowIfNull(Id);

        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        serviceEndpoint = $"{Config.GetValue<string>("Url")}/api/Articles/{Id}";

        if (!ApplicationState.TryTakeFromJson<Article>(nameof(article), out var restored))
        {
            article = await GetArticle();
        }
        else
        {
            article = restored;
        }

        articleElements = ArticleElementMerger.ElementsOrdered(article.BasicNotes, article.ClozeNotes);
    }
    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(article), article);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }

    private async Task<Article?> GetArticle()
    {
        return await Http.GetFromJsonAsync<Article>(serviceEndpoint);
    }
}