@using AnkiBooks.ApplicationCore.Entities

<div class="d-flex justify-content-center my-2">
    <RadzenCard Variant="Variant.Outlined" Style="width: 32rem" class="p-2">
    @if (editingNote == false)
    {
        <div class="d-flex">
            <div    class="flex-grow-1 border-end border-primary text-center
                            d-flex flex-column justify-content-around align-items-center"
                    role="button"
                    tabindex="0"
                    @onclick="FlipCard"
                    @onkeypress="FlipCardFromKeyboardEnter">
        
                    <span>@BasicNote.Front</span>
                
                @if (showAnswer == true)
                {
                    <span>@BasicNote.Back</span>
                }
            </div>

            <div class="d-flex flex-column justify-content-around align-items-center">
                <span>Basic Note</span>

                <RadzenButton Text="Edit" Click="@EditNote" Variant="Variant.Outlined" Size="ButtonSize.Small"/>

                <span>@BasicNote.OrdinalPosition</span>
            </div>
        </div>
    }
    else
    {
        <EditBasicNote @bind-EditingNote="editingNote" StartingBasicNote="@BasicNote"/>
    }
    </RadzenCard>
</div>

@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }

    private bool editingNote = false;

    private void EditNote()
    {
        editingNote = true;
    }
}