@using AnkiBooks.ApplicationCore.Entities

@if (editingNote == false)
{
    <div class="d-flex justify-content-center my-2">
        <RadzenCard Variant="Variant.Outlined" Style="width: 32rem" class="p-2 pe-0">
            <div class="d-flex">
                <div    class="text-center text-break flex-grow-1
                                d-flex flex-column justify-content-around align-items-center"
                        role="button"
                        tabindex="0"
                        @onclick="FlipCard"
                        @onkeypress="FlipCardFromKeyboardEnter">
            
                    <span>@BasicNote.Front (ordinal position: @BasicNote.OrdinalPosition)</span>
                    
                    @if (showAnswer == true)
                    {
                        <span>@BasicNote.Back</span>
                    }
                </div>

                <div class="d-flex flex-column justify-content-center align-items-center ms-2 me-2">
                    <RadzenButton Text="Edit" Click="@EditNote" Variant="Variant.Outlined" Size="ButtonSize.Small"/>
                </div>
            </div>
        </RadzenCard>
    </div>
}
else
{
    <EditBasicNote @bind-EditingNote="editingNote" StartingBasicNote="@BasicNote"/>    
}


@code {
    [Parameter]
    public BasicNote BasicNote { get; set; } = null!;

    private bool showAnswer = false;

    private void FlipCard()
    {
        showAnswer = !showAnswer;
    }

    private void FlipCardFromKeyboardEnter(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            FlipCard();
        }
    }

    private bool editingNote = false;

    private void EditNote()
    {
        editingNote = true;
    }
}