@using AnkiBooks.ApplicationCore.Entities
@using System.Text.Json
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.WebApp.Client.Services
@using AnkiBooks.WebApp.Client.Pages.Articles.Notes.Basic
@using AnkiBooks.WebApp.Client.Pages.Articles.Notes.Cloze
@using AnkiBooks.WebApp.Client.Shared.Heroicons
@inject IAnkiBooksApiService ApiService
@inject ILogger<NoteElement> logger
@inject DraggedItemHolder<ArticleElement> draggedItemHolder

@if (editing == false)
{
    <div class="border-primary-thin mb-4">
        @if (ReadMode == false)
        {
            <div class="border-bottom-primary-thin d-flex justify-content-between p-1">
                <div class="w-5 h-5" role="button" @onclick="BeginEditing">
                    <Edit />
                </div>
                <div class="w-5 h-5" role="button" @onclick="DeleteElement">
                    <Delete />
                </div>
            </div>
        }
        <div class="@(nestedDragLevels != 0 ? "dragover-highlight" : "")"

                    draggable="true"
                    @ondragstart="HandleDrag"
                    @ondragend="HandleDragEnd"
                    @ondragenter="HandleDragEnter" @ondragenter:preventDefault
                    ondragover="event.preventDefault();"
                    @ondragleave="HandleDragLeave" @ondragleave:preventDefault
                    @ondrop="HandleDrop">
            @switch (Note)
            {
                case BasicNote basicNote:
                    <ShowBasicNote BasicNoteFront="@basicNote.Front" BasicNoteBack="@basicNote.Back" />
                    break;

                case ClozeNote clozeNote:
                    <ShowClozeNote ClozeNoteText="@clozeNote.Text" />
                    break;
            }
        </div>
    </div>
}
else
{
    @switch (Note)
    {
        case BasicNote basicNote:
            <EditBasicNote StartingBasicNote="@basicNote" @bind-Editing="@editing" />
            break;

        case ClozeNote clozeNote:
            <EditClozeNote StartingClozeNote="@clozeNote" @bind-Editing="@editing" />
            break;
    }
}

@code {
    [Parameter]
    public INote Note { get; set; } = null!;

    [Parameter]
    public OrderedElementsContainer<ArticleElement> ElementsContainer { get; set; } = null!;

    [Parameter]
    public EventCallback<OrderedElementsContainer<ArticleElement>> ElementsContainerChanged { get; set; }

    [CascadingParameter(Name="ReadMode")]
    public bool ReadMode { get; set; }

    private bool editing = false;

    private void BeginEditing()
    {
        editing = true;
    }

    private async Task DeleteElement()
    {
        await ApiService.DeleteElement((ArticleElement)Note);

        ElementsContainer.Remove((ArticleElement)Note);
        await ElementsContainerChanged.InvokeAsync(ElementsContainer);
    }

    private void HandleDrag()
    {
        logger.LogInformation("drag");
        draggedItemHolder.DraggedItem = (ArticleElement)Note;
    }

    private void HandleDragEnd()
    {
        logger.LogInformation("dragend");
        draggedItemHolder.DraggedItem = null;
    }

    private int nestedDragLevels = 0;

    private void HandleDragEnter()
    {
        ArticleElement? draggedItem = draggedItemHolder.DraggedItem;

        if (draggedItem == null) return;
        if (draggedItem == Note) return;
        logger.LogInformation("dragenter");
        nestedDragLevels += 1;
    }

    private void HandleDragLeave()
    {
        ArticleElement? draggedItem = draggedItemHolder.DraggedItem;

        if (draggedItem == null) return;
        if (draggedItem == Note) return;
        logger.LogInformation("dragleave");

        nestedDragLevels -= 1;
    }

    private async Task HandleDrop()
    {
        nestedDragLevels = 0;
        logger.LogInformation("drop");
        ArticleElement? droppedElement = draggedItemHolder.DraggedItem;

        if (droppedElement == null) return;
        if (droppedElement == Note) return;

        droppedElement.OrdinalPosition = Note.OrdinalPosition;

        await ApiService.PutElement(droppedElement);

        ElementsContainer.UpdatePosition(droppedElement);
        await ElementsContainerChanged.InvokeAsync(ElementsContainer);
    }
}
