@using System.Text.Json
@using System.Security.Claims

@using AnkiBooks.ApplicationCore
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.ApplicationCore.Services

@using AnkiBooks.WebApp.Client.Pages.Articles.Elements.MarkdownContents
@using AnkiBooks.WebApp.Client.Pages.Articles.Elements.Decks

@inject IUserArticleService UserArticleService
@inject ILogger<ArticleElements> Logger
@inject PersistentComponentState ApplicationState
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (ElementsContainer != null)
{
    List<ArticleElement> elements = ElementsContainer.OrderedElements;

    <CascadingValue Value="@Article.Id" Name="ArticleId">
        <article class="px-4">
            <div>
                @if (elements.Count == 0)
                {
                    <div class="my-4 d-flex justify-content-center">
                        <NewArticleElementSelect @bind-ElementsContainer:get="@ElementsContainer"
                                                 @bind-ElementsContainer:set="@ElementsContainerChanged"
                                                 OrdinalPosition="@(0)" />
                    </div>
                }
                else
                {
                    List<ArticleElement> elements = ElementsContainer.OrderedElements;

                    for (int j = 0; j < elements.Count; j++)
                    {
                        ArticleElement element = elements[j];

                        <div class="my-4">
                            @switch(element)
                            {
                                case MarkdownContent markdown:
                                    <MarkdownRoot ArticleElement="@markdown"
                                                  @bind-ElementsContainer:get="@ElementsContainer"
                                                  @bind-ElementsContainer:set="@ElementsContainerChanged" />
                                    break;

                                case Deck deck:
                                    <DeckRoot ArticleElement="@deck"
                                              @bind-ElementsContainer:get="@ElementsContainer"
                                              @bind-ElementsContainer:set="@ElementsContainerChanged" />
                                    break;

                                default:
                                    throw new ApplicationException();
                            }
                        </div>

                        <div class="my-4 d-flex justify-content-center">
                            <NewArticleElementSelect @bind-ElementsContainer:get="@ElementsContainer"
                                                     @bind-ElementsContainer:set="@ElementsContainerChanged"
                                                     OrdinalPosition="@(j + 1)" />
                        </div>
                    }
                }
            </div>
        </article>
    </CascadingValue>
}


@code {
    [Parameter]
    public Article Article { get; set; } = null!;

    [Parameter]
    public required OrderedElementsContainer<ArticleElement> ElementsContainer { get; set; }

    [Parameter]
    public EventCallback<OrderedElementsContainer<ArticleElement>> ElementsContainerChanged { get; set; }
}