@using AnkiBooks.ApplicationCore.Entities

<div class="m-4">
    @if (editingTitle == true)
    {
        <EditTitle @bind-Article:get="@Article"
                            @bind-Article:set="@ArticleChanged"
                            @bind-EditingTitle="editingTitle" />
    }
    else
    {
        <div class="d-flex justify-content-start align-items-center">
            <div class="font-size-3xl pr-4">
                @Article.Title
            </div>

            <div class="w-5 h-5" role="button" title="Edit article title" @onclick="StartEditingTitle">
                <Edit />
            </div>
        </div>
    }
</div>

<div class="px-4">
    Sources:
    <ul class="pl-8 list-style-outside list-style-type-disk">
        @foreach(Link l in Article.Links)
        {
            Link link = l;

            <li>
                <ArticleLink @bind-Link="@link" />
            </li>
        }     
    </ul>
</div>

<div class="p-4">
@if (addingSource == false)
{
    <div    role="button" @onclick="StartAddingSource"
            class="d-flex flex-row justify-content-start align-items-center">
        <div class="w-4 h-4"><Plus /></div>
        <div class="pl-2">New link</div>
    </div>
}
else
{
    <NewArticleLink @bind-Article:get="@Article"
                @bind-Article:set="@ArticleChanged"
                @bind-AddingSource="addingSource" />
}
</div>

@code {
    [Parameter]
    public Article Article { get; set; } = null!;

    [Parameter]
    public EventCallback<Article?> ArticleChanged { get; set; }

    private bool editingTitle = false;

    private void StartEditingTitle()
    {
        editingTitle = true;
    }

    private bool addingSource = false;

    private void StartAddingSource()
    {
        addingSource = true;
    }
}