@using System.Text.Json
@using System.Security.Claims

@using AnkiBooks.ApplicationCore
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.ApplicationCore.Services

@using AnkiBooks.WebApp.Client.Pages.Articles.Elements.MarkdownContents
@using AnkiBooks.WebApp.Client.Pages.Articles.Elements.Decks

@inject IUserArticleService UserArticleService
@inject ILogger<CurrentArticle> Logger
@inject PersistentComponentState ApplicationState
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>@Article.Title</PageTitle>

@if (ElementsContainer != null)
{
    List<ArticleElement> elements = ElementsContainer.OrderedElements;

    <CascadingValue Value="@Article.Id" Name="ArticleId">
        <article class="px-4">
            <div>
                @if (elements.Count == 0)
                {
                    <div class="my-4 d-flex justify-content-center">
                        <NewArticleElementSelect @bind-ElementsContainer="@ElementsContainer" OrdinalPosition="@(0)" />
                    </div>
                }
                else
                {
                    List<ArticleElement> elements = ElementsContainer.OrderedElements;

                    for (int j = 0; j < elements.Count; j++)
                    {
                        ArticleElement element = elements[j];

                        <div class="my-4">
                            @switch(element)
                            {
                                case MarkdownContent mdContent:
                                    <MarkdownRoot   MarkdownContent="@mdContent"
                                            @bind-ElementsContainer="@ElementsContainer" />
                                    break;

                                case Deck deck:
                                    <DeckRoot  Deck="@deck" @bind-ElementsContainer="@ElementsContainer" />
                                    break;

                                default:
                                    break;
                            }
                        </div>

                        <div class="my-4 d-flex justify-content-center">
                            <NewArticleElementSelect @bind-ElementsContainer="@ElementsContainer" OrdinalPosition="@(j + 1)" />
                        </div>
                    }
                }
            </div>
        </article>
    </CascadingValue>
}


@code {
    [Parameter]
    public Article Article { get; set; } = null!;

    private OrderedElementsContainer<ArticleElement>? ElementsContainer;

    protected override void OnParametersSet()
    {
        ElementsContainer = new(Article.OrderedElements());
    }
}