@page "/articles/{id}"
@page "/articles"

@layout ArticlesLayout

@implements IDisposable

@using System.Text.Json
@using System.Security.Claims

@using AnkiBooks.ApplicationCore
@using AnkiBooks.ApplicationCore.Entities
@using AnkiBooks.ApplicationCore.Interfaces
@using AnkiBooks.ApplicationCore.Services
@using AnkiBooks.WebApp.Client.Pages.Articles.Contents
@using AnkiBooks.WebApp.Client.Pages.Articles.Notes

@inject IUserArticleService UserArticleService
@inject ILogger<PageRoot> Logger
@inject PersistentComponentState ApplicationState
@inject AuthenticationStateProvider AuthenticationStateProvider

<SectionContent SectionName="article-title">
    @if (article != null)
    {
        <div class="pl-4 d-flex justify-content-start align-items-center">
            @if (editingTitle == false)
            {
                <div class="pr-2">
                    @article.Title
                </div>

                <div class="w-5 h-5" role="button" @onclick="EditTitle">
                    <Edit />
                </div>
            }
            else
            {
                <EditTitle StartingArticle="@article" @bind-EditingTitle="editingTitle" />
            }
        </div>
    }
</SectionContent>

@if (Id == null)
{
    <PageTitle>Articles</PageTitle>
}
else if (article == null || ElementsContainer == null)
{
    <PageTitle>Loading article...</PageTitle>

    <p class="p-4">Loading article...</p>
}
else
{
    ArgumentNullException.ThrowIfNull(Id);
    ArgumentNullException.ThrowIfNull(@article);
    ArgumentNullException.ThrowIfNull(ElementsContainer);

    <PageTitle>@article.Title</PageTitle>

    List<ArticleElement> elements = ElementsContainer.OrderedElements;

    <CascadingValue Value="@article.Id" Name="ArticleId">

        <article class="px-4">
            <div>
                @if (elements.Count == 0)
                {
                    @if (ReadMode == false)
                    {
                        <NewElement @bind-ElementsContainer="@ElementsContainer" OrdinalPosition="@(0)" />
                    }
                }
                else
                {
                    List<(List<IContent>, List<INote>)> groups = ArticleElementsGrouper.Groups(ElementsContainer.OrderedElements);

                    for (int j = 0; j < groups.Count; j++)
                    {
                        (List<IContent>, List<INote>) group = groups[j];
                        (List<IContent> contents, List<INote> notes) = group;

                        <div class="d-flex flex-column sm:flex-row @(j != 0 ? "border-top-primary pt-4" : "")">

                            <div class="sm:flex-grow-2 pr-4">
                                @foreach(IContent content in contents)
                                {
                                    <ContentElement Content="@content" @bind-ElementsContainer="@ElementsContainer" />

                                    @if (ReadMode == false)
                                    {
                                        <NewElement @bind-ElementsContainer="@ElementsContainer"
                                                    OrdinalPosition="@(content.OrdinalPosition + 1)" />
                                    }
                                }
                            </div>

                            @if (notes.Count != 0)
                            {
                                <div class="sm:flex-grow-1">
                                    @foreach(INote note in notes)
                                    {
                                        <NoteElement Note="@note" @bind-ElementsContainer="@ElementsContainer" />

                                        @if (ReadMode == false)
                                        {
                                            <NewElement @bind-ElementsContainer="@ElementsContainer"
                                                        OrdinalPosition="@(note.OrdinalPosition + 1)" />
                                        }
                                    }
                                </div>
                            }
                        </div>
                    }
                }
            </div>
        </article>
    </CascadingValue>
}

@code {
    [Parameter]
    public string? Id { get; set; }

    [CascadingParameter]
    public bool ReadMode { get; set; }

    private OrderedElementsContainer<ArticleElement>? ElementsContainer;

    private Article? article;

    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null) return;
        // TODO: Retrieve random article using a spaced repetition algorithm
        editingTitle = false;

        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        if (!ApplicationState.TryTakeFromJson<Article>(nameof(article), out var restored))
        {
            article = await UserArticleService.GetUserArticle(Id);
        }
        else
        {
            article = restored;
        }

        ArgumentNullException.ThrowIfNull(article);
        ElementsContainer = new(article.OrderedElements());
    }

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(nameof(article), article);

        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        persistingSubscription.Dispose();
    }

    private bool editingTitle = false;

    private void EditTitle()
    {
        editingTitle = true;
    }
}